# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea/
*.iml
out/
/gen/
/target/
.DS_Store
lib/
src/main/resources/
src/test/.DS_Store
src/test/de/.DS_Store
src/test/de/itemis/.DS_Store
/.idea/vcs.xml
